{
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    "transform-class-properties",
    "react-hot-loader/babel"
  ],
  "presets": ["env", "react", "stage-0"]
}
